@model DoctorPremium.Web.Models.ForgotPasswordViewModel
@{
	ViewBag.Title = "forgot password";
	Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="loginContainer">
	<div style="margin: 0px -20px; padding: 10px 20px 0px 20px;" class="form-actions">
		<h3>
			<span>@Resources.Account.ForgotPasswordPage</span>
		</h3>
	</div>
	@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "loginForm" }))
	{
		@Html.AntiForgeryToken()
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <a class="btn btn-success btn-xs" href="/Home/Help" style="float: left; margin-bottom: 10px">@Resources.Resource.HelpButton</a>
		<div class="form-group">
			@Html.LabelFor(m => m.Email, new { @class = "col-lg-12 control-label" })
			<div class="col-lg-12">
				@Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = @Resources.Account.Email })
				<span class="icon16 entypo-icon-email right gray marginR10"></span>
				@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
				
				<span class="forgot help-block" style="float: left;"><a class="" href="@Url.Action("Login","Account")">@Resources.Account.LoginLink</a></span>
				<span class="forgot help-block"><a class="" href="@Url.Action("Index","Home")">@Resources.Account.ToHome</a></span>
			</div>
		</div><!-- End .form-group  -->
		<div class="form-group">
			<div class="col-lg-12 clearfix form-actions">
				<button type="submit" class="btn btn-info right" id="loginBtn"><span class="icon16 icomoon-icon-mail-send white"></span>@Resources.Account.ForgotPasswordBtn</button>
			</div>
		</div><!-- End .form-group  -->@*<a class="text-muted" href="@Url.Action("Index","Home")" data-toggle="tab">Главная страница</a>*@
	}
</div>
	<!-- PAGE CONTENT -->
	