@model DoctorPremium.Web.Models.ResetPasswordViewModel
@{
	ViewBag.Title = "Reset password";
	Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<div class="loginContainer">
	@*<div class="form-group">*@
	<div style="margin: 0px -20px; padding: 10px 20px 0px 20px;" class="form-actions">
		<h3>
			<span>@Resources.Account.ResetPasswordPage</span>
		</h3>
	</div>
	@*</div>*@
	@using (Html.BeginForm("ResetPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "loginForm" }))
	{
		@Html.HiddenFor(model => model.Code)
		@Html.AntiForgeryToken()
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })

		<div class="form-group">
			@Html.LabelFor(m => m.Email, new { @class = "col-lg-12 control-label" })
			<div class="col-lg-12">
				@Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = @Resources.Account.Email })
				@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
				<span class="icon16 icomoon-icon-user right gray marginR10"></span>
			</div>
		</div><!-- End .form-group  -->
		<div class="form-group">
			@Html.LabelFor(m => m.Password, new { @class = "col-lg-12 control-label" })
			<div class="col-lg-12">
				@Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = @Resources.Account.Password })
				@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
				<span class="icon16 icomoon-icon-lock right gray marginR10"></span>
			</div>
		</div><!-- End .form-group  -->
		<div class="form-group">
			@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-lg-12 control-label" })
			<div class="col-lg-12">
				@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = @Resources.Account.Password })
				@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
				<span class="icon16 icomoon-icon-lock right gray marginR10"></span>
				@*<span class="forgot help-block" style="float: left;"><a class="" href="@Url.Action("Register","Account")">Регистрация</a></span>*@
				<span class="forgot help-block"><a class="" href="@Url.Action("Index","Home")">@Resources.Account.ToHome</a></span>
			</div>
		</div><!-- End .form-group  -->
		<div class="form-group">
			<div class="col-lg-12 clearfix form-actions">
				<div class="checkbox left">
				</div>
				<button type="submit" class="btn btn-info right" id="loginBtn"><span class="icon16 icomoon-icon-key white"></span>@Resources.Account.ResetPasswordBtn</button>
			</div>
		</div><!-- End .form-group  -->
	}
</div>
